*{
    background-color: azure;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Display{
    text-align: center;
    margin-top: 3%;
}
#cityName{
    border: none;
    background-color: beige;
    margin-top: 3%;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}
#Btn{
    width: 130px;
    border-radius: 10px;
    height: 25px;
    font-size: 14px;
    background-color: rgb(241, 145, 106);
}
#Btn:hover{
    background-color: rgb(147, 252, 147);
    font-weight: bold;
}

table{
    margin-left: 42%;
    width: 200px;
}
